/*@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
*/
@font-face {
    font-family: 'Bebass';
    src: url('../assets/fonts/bebasneue-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/bebasneue-book-webfont.woff') format('woff');
    /* Include additional font formats for wider browser support */
}

@font-face {
    font-family: 'Monseratt';
    src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
    /* Include additional font formats for wider browser support */
}

body{
	font-family: 'Monseratt', sans-serif;
	background-color:rgba(0,0,0,1.00);
	color:rgba(255,255,255,1.00);
    margin:0px;
}
#app {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}
body * {
    z-index: 20;
    color: rgba(0,0,0,1.00);
}

.text-container {
  position: relative;
  width: 70%;
  margin: auto;
    top: 50px;
  /* float: right; */
}

#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}

header{
	font-family: 'Bebass', sans-serif;
	font-size:200%;
	font-weight:700;
	letter-spacing:1px;
	margin-bottom:20px;
	text-decoration:underline;
}

h2{
	font-family: 'Bebass', sans-serif;
	font-weight:bold;
	font-size:20px;
	height:20px;
	margin:0px;


}
.section {
	float: right;
	li {
		margin-top: 10px;
	}
}
h3{
	font-family: 'Monseratt', sans-serif;
	font-size: medium;
	font-weight:400;
	margin:0px;
	margin-top:10px;
}

h4{
	font-family: 'Monseratt', sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:12px;
	margin:0px;
	/* margin-top:-15px; */
	margin-top: 5px;
}

.section{
	margin:10px;
	margin-left:2%;
	width:45%;
}
.about-container {
  text-align: center;
}
#experience{
	float:left;
}

#education{
	float:left;
}

#skills{
	float:left;
}

#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}

#about{
	float:left;
}

#contacts{
	float:left;
}



/*/////////////////////////////////  FLASHLIGHT EFFECT ////////////////////////////  */

#light {
  position: absolute;
  width: 600px;
  height:600px;
  background-color: #fff;
  z-index: 0;
  -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
}

/*//////////////////////////////// END FLASHLIGHT EFFECT ///////////////////////////  */